/* =================================================================
   Cтили шрифтов / Fonts styles
================================================================= */

/* =================================================================
   Общие стили / Common styles
================================================================= */
.uk-container{
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}
/* =================================================================
   Cтили шапки / Header styles
================================================================= */
header{
    background: #242424;
}